<section class="content-35">
  <ul class="content-35-slider">
    <li class="content-35-slider-item">
      <div class="background bread">
        <div class="container">
          <div class="row">
            <div class="col-sm-4">
              <div>
                <img src="https://upload.wikimedia.org/wikipedia/commons/a/ae/Swimming_pool_with_lane_ropes_in_place.jpg" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-sm-5 col-sm-offset-5">
            <h2>Showcase</h2>
            <p class="lead">The most important parts of the Startup Framework are Samples and the UI Kit that includes a set of different components. The samples consist of a set of 25 pages.</p>
            <div class="row columns">
              <% @articles.take(2).each do |article|%>
                <div class="col-sm-6">
                  <a href="#">
                    <img src="https://i.ytimg.com/vi/<%=article.embed%>/mqdefault.jpg" alt="">
                    <b>
                      <strong><%= article.title%></strong>
                    </b>
                    <span><%= truncate article.description, length:100%></span>
                  </a>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</section>
<div class="delimiter"></div>
<div class="container">
  <div class="header">
    <h3 class="text-muted" style = "padding: 20px"> </h3>
  </div>
  <section class="crew-4">
    <div class="container">
      <h3>Featured Videos<br>
        A few of the videos on SwimRocket
      </h3>
      <div class="members">
        <% @articles.take(3).each do |article|%>
        <div class="member-wrapper">
          <div class="member">
            <div class="photo-wrapper">
              <div class="photo" style="background-image">
                <img src="https://i.ytimg.com/vi/<%=article.embed%>/mqdefault.jpg" alt="" style="display: none;">
              </div>
              <div class="overlay">
                <a href="/articles/<%=article.id%>"><span class="fa fa-play"></span></a>
              </div>
            </div>
            <div class="info">
              <div class="name"><%=article.title%></div>
              <p class="content-description"><%= truncate article.description, length: 30%></p>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </section>
</div>
<!-- Bootstrap core JavaScript
  ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->