<% @articles.each do |article| %>
  <div class="row">
    <div class = "col-md-12">
      <div class = "row">
        <div class = "col-md-3">
          <a href="/articles/<%=article.id%>" class="content-title"><img class = "thumbnail-content"src="https://i.ytimg.com/vi/<%=article.link_id%>/mqdefault.jpg"/></a>
        </div>
        <div class="col-md-9">
          <a href="/articles/<%=article.id%>" class="content-title"><%=article.title%></a>
              <small><%= link_to "delete", article, method: :delete,
                                  data: { confirm: "You sure?" } %></small>
          <p class="content-description"><%=article.description%></p>
        </div>
      </div>
    </div>
  </div>
<% end %>