<div class="row">
  <div class="col-md-5">
    <div class="panel panel-info">
      <div class="panel-body">
      <%= simple_form_for @article do |f| %>
        <%= f.input :title, input_html: { maxlength: 50 } %>
        <%= f.input :link_id %>
        <%= f.input :description, as: :text, input_html: {maxlength: 1600} %>
        <%= f.association :subject %>
        <%= f.button :submit %>
      <% end %>
    </div>
  </div>
</div>