<h3 class="page-title">Edit your article</h3>
<div class="page-bar">
  <ul class="breadcrumb">
    <li>
      <i class="fa fa-home"></i>
      <a href="/">Home</a>
    </li>
    <li><a href=<%="/topics/#{@topic.id}"%>><%=@topic.name%></a></li>
    <li><a href=<%="/subtopics/#{@subtopic.id}"%>><%=@subtopic.name%></a></li>
    <li><a href=<%="/subjects/#{@subject.id}"%>><%=@subject.name%></a></li>
    <li><a href=<%="/articles/#{@article.id}"%>><%=@article.title%></a></li>
    <li><a href="">Edit</a>
  </ul>
</div>
<%= render "edit_article"%>