<div class="page-bar">
  <ul class="breadcrumb">
    <li><i class="fa fa-home"></i><%= link_to "Home", root_path%></li>
    <li><a href=<%="/topics/#{@article.subject.subtopic.topic.id}"%>><%=@article.subject.subtopic.topic.name%></a></li>
    <li><a href=<%="/subtopics/#{@article.subject.subtopic.id}"%>><%=@article.subject.subtopic.name%></a></li>
    <li><a href="">Articles</a></li>
    <li class="active"><a href="">New</a></li>
  </ul>
</div>
<h3 class="page-title">New article</h3>
<%= render "edit_article"%>