<div class="page-bar">
  <ul class="breadcrumb">
    <li>
      <i class="fa fa-home"></i>
      <a href="/">Home</a>
    </li>
    <li><a href=<%="/topics/#{@article.subject.subtopic.topic.id}"%>><%=@topic.name%></a></li>
    <li><a href=<%="/subtopics/#{@subtopic.id}"%>><%=@subtopic.name%></a></li>
    <li><a href=<%="/subjects/#{@subject.id}"%>><%=@subject.name%></a></li>
    <li class="active"><a href=<%="/articles/#{@article.id}"%>><%=@article.title%></a></li>
  </ul>
</div>
<div class="row">
  <div class="col-md-12">
    <h3 class="page-title"><%=@article.title%></h3>
  </div>
</div>
<div class="row">
 <div class="col-md-7 col-sm-6">
  <div class="vid">
    <iframe width="640" height="360" src="//www.youtube.com/embed/<%= @article.embed%>" frameborder="0" allowfullscreen></iframe>
  </div>
 </div>
 <div class="col-md-4 col-sm-6">
	  <p>Description:<small class="right-btn"><a class="float-right-btn" href="/articles/<%=@article.id%>/edit">edit</a></small></p>
	  <p><%= @article.description%></p>
 </div>
</div>
