<div class="page-bar">
            <ul class="page-breadcrumb" style="margin-right: 10px">
              <li>
                <i class="fa fa-home"></i>
                <%= link_to "Home", root_path%>
                <i class="fa fa-angle-right"></i>
              </li>
              <li>
                <a href=<%="/topics/#{@topic.id}"%>><%=@topic.name%></a>
                <i class="fa fa-angle-right"></i>
              </li>
              <li>
                <a href=<%="/subtopics/#{@subtopic.id}"%>><%=@subtopic.name%></a>
                <i class="fa fa-angle-right"></i>
              </li>
              <li>
              	<a href=<%="/articles/#{@article.id}"%>><%=@article.title%></a>
              </li>
            </ul>
          </div>
          <div class="row">
          	<div class="col-md-7">
            <iframe width="824" height="480" src="//<%= @article.embed%>" frameborder="0" allowfullscreen></iframe>
          	</div>
          	<div class="col-md-4">
          		<p style="color:grey">Description:</p>
          		<p><%= @article.description%></p>
          	</div>
          </div>
