<div class="row">
  <div class="col-md-12">
    <h3 class="page-title"><%=@article.title%></h3>
  </div>
</div>
<div class="page-bar">
  <ul class="breadcrumb">
    <li>
      <i class="fa fa-home"></i>
      <a href="/">Home</a>
    </li>
    <li><a href=<%="/topics/#{@topic.id}"%>><%=@topic.name%></a></li>
    <li><a href=<%="/subtopics/#{@subtopic.id}"%>><%=@subtopic.name%></a></li>
    <li><a href=<%="/subjects/#{@subject.id}"%>><%=@subject.name%></a></li>
    <li class="active"><a href=<%="/articles/#{@article.id}"%>><%=@article.title%></a></li>
  </ul>
</div>
<div class="row">
 <div class="col-md-7">
  <iframe width="824" height="480" src="//www.youtube.com/embed/<%= @article.embed%>" frameborder="0" allowfullscreen></iframe>
 </div>
 <div class="col-md-4">
	  <p style="color:grey">Description:<small class="right-btn"><a href="/articles/<%=@article.id%>/edit">edit</a></small></p>
	  <p><%= @article.description%></p>
 </div>
</div>
