%h3.page-title= @topic.name
.page-bar{:style => ""}
  %ul.breadcrumb
    %li
      %i.fa.fa-home
      = link_to "Home", root_path
    %li.active
      %a{:href => ""}= @topic.name
- @subtopics.each do |subtopic|
  %h2
    %a{:href => "/subtopics/#{subtopic.id}"} #{subtopic.name}
    - if current_user != nil && current_user.admin?
      %small
        = link_to "delete", subtopic, method: :delete, |
          data: { confirm: "You sure?" }               |
        |
        %a{:href => "/subtopics/#{subtopic.id}/edit"} edit
  .row
    - subtopic.articles.take(3).each do |article|
      .col-md-4
        .thumbnail
          %a{:href => "/articles/#{article.id}"}
            %img{:alt => "100x200", :src => "https://i.ytimg.com/vi/#{article.embed}/mqdefault.jpg"}/
          .caption
            %a{:href => "/articles/#{article.id}"}
              %h5= article.title
            %p.article-description= truncate article.description, length: 188
            %p
              %a.btn.btn-primary.btn-lg.btn-block{:href => "/articles/#{article.id}", :role => "button"} View
- if current_user != nil && current_user.admin?
  %a.btn.btn-primary.btn-lg{:href => "/subtopics/new?topic_id=#{@topic.id}", :role => "button"} New subtopic