<h3 class="page-title"><%=@topic.name%></h3>
<div class="page-bar" style = "">
  <ul class="page-breadcrumb" style="margin-right: 10px">
    <li>
      <i class="fa fa-home"></i>
      <%= link_to "Home", root_path%>
      <i class="fa fa-angle-right"></i>
    </li>
     <li>
      <a href=""><%=@topic.name%></a>
    </li>
  </ul>
</div>
<%@subtopics.each do |subtopic|%>
  <h2><a href=<%="/subtopics/#{subtopic.id}"%>><%= subtopic.name%></a></h2>
  <%= link_to "delete", subtopic, method: :delete,
                                data: { confirm: "You sure?" } %>
  <a href="/subtopics/<%=subtopic.id%>/edit" class="btn btn-primary btn-sm" role="button">Edit subtopic</a>
  <div class="row">
    <%subtopic.articles.each do |article|%>
      <div class = "col-md-4">
        <div class="thumbnail">
          <a href="/articles/<%=article.id%>"><img src="https://i.ytimg.com/vi/<%=article.link_id%>/mqdefault.jpg" style="height: 200px" alt="100%x200"></a>
          <div class="caption">
            <a href = "/articles/<%=article.id%>" class = "preview-title-link"><h3><%= article.title%></h3></a>
            <p><%= truncate article.description, length: 255%></p>
            <p><a href="/articles/<%=article.id%>" class="btn btn-primary btn-lg btn-block" role="button">View</a></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<%end%>
<a href="/subtopics/new?topic_id=<%=@topic.id%>" class="btn btn-primary btn-lg" role="button">New subtopic</a>