<h3 class="page-title">Edit "<%=@subtopic.name%>"</h3>
<div class="page-bar">
            <ul class="breadcrumb" style="margin-right: 10px">
              <li><i class="fa fa-home"></i><%= link_to "Home", root_path%></li>
              <li><a href=<%="/topics/#{@subtopic.topic.id}"%>><%=@subtopic.topic.name%></a></li>
              <li><a href=<%="/subtopics/#{@subtopic.id}"%>><%=@subtopic.name%></a></li>
              <li class="active"><a href="">Edit</a></li>
            </ul>
          </div>
<h3 class="page-title">Edit Subtopic</h3>
<%= render "subtopics/change_subtopic_form" %>