<div class="page-bar">
  <ul class="breadcrumb" >
    <li><i class="fa fa-home"></i><%= link_to "Home", root_path%></li>
    <li><a href=<%="/topics/#{@topic.id}"%>><%=@topic.name%></a></li>
    <li class="active"><a href=""><%=@subtopic.name%></a></li>
  </ul>
</div>
<h1 class="page-title page-title-padding"><%=@subtopic.name%></h1>
<div class = "row">
  <div class = "col-md-3">
  <%=render 'nav'%>
  </div>
  <div class="col-md-9">
  <h3 class="page-title">Top Articles and Videos in <%= @subtopic.name%></h2>
    <%= render "articles/article_preview"%>
  </div>
</div>