<h3 class="page-title">Edit <%=@subject.name%></h3>
<div class="page-bar">
            <ul class="page-breadcrumb" style="margin-right: 10px">
              <li>
                <i class="fa fa-home"></i>
                <%= link_to "Home", root_path%>
                <i class="fa fa-angle-right"></i>
              </li>
              <li>
                <a href=<%="/topics/#{@subject.subtopic.topic.id}"%>><%=@subject.subtopic.topic.name%></a>
                <i class="fa fa-angle-right"></i>
              </li>
              <li>
                <a href=<%="/subtopics/#{@subject.subtopic.id}"%>><%=@subject.subtopic.name%></a>
                <i class = "fa fa-angle-right"></i>
              </li>
              <li>
                <a href=<%="/subjects/#{@subject.id}"%>><%=@subject.name%></a>
                <i class = "fa fa-angle-right"></i>
              </li>
              <li>
                <a href="">Edit</a>
              </li>
            </ul>
          </div>
<%= render "subject_form" %>