

<h3 class="page-title"><%= @subtopic.name %></h3>
<div class="page-bar">
  <ul class="page-breadcrumb" style="margin-right: 10px">
    <li>
      <i class="fa fa-home"></i>
      <%= link_to "Home", root_path%>
      <i class="fa fa-angle-right"></i>
    </li>
    <li>
      <a href=<%="/topics/#{@topic.id}"%>><%=@topic.name%></a>
      <i class="fa fa-angle-right"></i>
    </li>
    <li>
      <a href=<%="/subtopics/#{@subtopic.id}"%>><%=@subtopic.name%></a>
      <i class="fa fa-angle-right"></i>
    </li>
    <li>
    	<a href=""><%=@subject.name%></a>
    </li>
  </ul>
</div>
<div class="row">
  <div class="col-md-3">
    <%= render "subtopics/nav" %>
  </div>
  <div class = "col-md-9">
    <h3 class="page-title">
      <%=@subject.name%>
      <% if current_user != nil %>
        <small><a href="/articles/new?subject_id=<%=@subject.id%>" class="right-btn">Create a New Article</a></small>
      <% end %>
      <% if current_user != nil && current_user.admin? %>
        <small>
          <%= link_to "delete", @subject, method: :delete, data: { confirm: "You sure?" } %> |
          <a href="/subjects/<%=@subject.id%>/edit">edit</a>
        </small>
      <% end %>
    </h3>
    <%= render "articles/article_preview"%>
  </div>
</div>