
<script>
  $(".tab-<%= @section %>").addClass("active")
</script>         
<header class="header-20">
  <div class="container">
      <div class="row">
          <nav class="navbar col-sm-12" role="navigation">
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle"></button>
                  <a class="brand" href="/"><img src="/assets/flat-ui-pro/icons/rocket.svg" width="50" height="50" alt=""> SwimRocket</a>
              </div>
              <div class="collapse navbar-collapse pull-right">
                  <ul class="nav pull-left">
                    <% @topics.each do |topic| %>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><%= topic.name %><span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                          <% topic.subtopics.each do |subtopic| %>
                            <li><a href=<%="/subtopics/#{subtopic.id}"%>><%= subtopic.name %></a></li>
                          <% end %>
                        </ul>
                      </li>
                    <% end %>
                    <% if signed_in? %>
                      <li class="dropdown">
                        <a href = "/user/<%=@current_user.id%>"class="dropdown-toggle" data-toggle = "dropdown" role = "button" aria-expanded="false">

                          <%=@current_user.name%>
                          </span>
                          <i class="fa fa-angle-down"></i></a>
                        <ul class="dropdown-menu" role="menu">
                              <li>
                                <a href=<%="/users/#{@current_user.id}"%>>
                                <i class="icon-user"></i> Profile </a>
                              </li>
                              <li>
                                <a href=<%="#{edit_user_path(current_user)}"%>>
                                <i class="icon-lock"></i> Settings </a>
                              </li>
                              <li class="divider">
                              </li>
                              <li>
                                <a data-method="delete" href="/signout" rel="nofollow">
                                <i class="icon-key"></i> Sign Out </a>
                              </li>
                            </ul>
                  <% else %>
                  </ul>

                      <ul class="nav navbar-nav">
                        <a class="btn btn-primary" href="<%=signin_path%>">SIGN IN</a>
                      </ul>
                    <% end %>
                  </ul>
                  <form class="navbar-form pull-left">      
                  </form>
              </div>
          </nav>
      </div>
  </div>
  <div class="header-background"></div>
</header>